:root {
  --ifm-background-color: #ffffff;
  --ifm-font-color-base: #1f1f20;
  --ifm-navbar-background-color: #fefefe;
  --ifm-color-primary: #1f7a3e;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-background-color: #020617;
  --ifm-background-header-color: #080d20;
  --ifm-background-surface-color: #020617;
  --ifm-font-color-base: #ffffff;
  --ifm-navbar-background-color: #020617;
  --ifm-footer-background-color: #000000;
  --ifm-color-primary: #2ecc71; /* hijau terang */
}
